<div class="main">
    <div class="content">
        <div class="title">
            <p style="margin-bottom: 0">안녕하세요.</p>
            <p><span style="font-weight: 900;">허기영</span>입니다.</p>
        </div>

        <div class="description">
            <div class="left">
                <div class="profile">
                    <div class="profile-container">
                        <div class="profile-img">
                            <img src="/assets/moon.jpg" href="profile-img" style="max-width: 450px; width: 100%;">
                        </div>
            
                        <div class="link">
                            <div class="link-info">
                                <i class="fa-solid fa-location-dot"></i>
                                Daegu, Korea
                            </div>
                            <div class="link-info">
                                <i class="fa-brands fa-github"></i>
                                <a href="https://github.com/hky035">https://github.com/hky035</a>
                            </div>
                            <div class="link-info">
                                <i class="fa-solid fa-envelope"></i>
                                hky035@gmail.com
                            </div>
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="right">
                <div class="introduction">
                    <p>긍정적인 가치를 공유하는 개발자가 목표인 대학생 허기영입니다.</p>

                    <p>
                        새로운 지식에 대한 열망을 나침반 삼아 매일 무엇인가를 배우기 위해 노력하고 있습니다. 
                        코드 작성만이 아닌 협업과 조직, 사회 등 다방면에서 발생하는 문제 해결에 관심이 많습니다.
                        밀도 높은 지식을 얻기 위해 항상 "왜?"라는 질문을 스스로에게 던집니다. 현재 백엔드 개발자를 향한 꿈을 가지고 있습니다.
                    </p>
                    
                    
                    <p>배움에는 열정적, 나눔에는 적극적인 삶을 지향합니다.</p>
                </div>
            </div>
        </div>

        
    </div>
</div>