{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav'%} <!-- 모바일 화면 포스트 내에서 toggle menu 버튼 삭제 -->
      <div class="{%if page.layout == 'posts' %}hide_nav_lt_large{%endif%}">
        {% include nav_list nav=page.sidebar.nav %}
      </div>
    {% endif %}
  {% endif %}
  </div>
{% endif %}
