/*
   Breakpoints
   ========================================================================== */

   $small: 600px !default;
   $medium: 768px !default;
   $medium-wide: 900px !default;
   $large: 1024px !default;
   $x-large: 1280px !default;
   $max-width: $x-large !default;


   // link

   $link: rgb(78.37,144.33,164.73);