---
---

@import "_variable";


.main {
    clear: both;
    margin-inline: auto;
    padding-inline: 1em;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    max-width: 100%;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.content {
    margin-inline: auto;
    clear: both;
    max-width: $x-large;
}

.title {
    font-family: "NotoSansKR";
    font-size: 60px;
    margin-bottom: 50px;

    p {
        margin: 0;
    }

    @media (max-width: $medium) {
        font-size: 50px;
    }

    @media (max-width: 450px) {
        font-size: 40px;
    }
}


.description {
    display: flex;

    @media (max-width: $large) {
        flex-direction: column;
        align-items: center;
    }
}

.left {
    width: 40%;
    @media (max-width: $large) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.right {
    width: 60%;
    box-sizing: border-box;
    padding: 0 5%;
    @media (max-width: $large) {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.profile-img {
    padding: 0 auto;
    margin-bottom: 20px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 auto;

    .link-info {
        display: flex;
        align-items: center;
        font-size: 17px;
        gap: 10px;
        font-weight: 500;

        a {
            color: inherit;
            text-decoration-line: none;
            transition: ease-out 0.2s;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                color: $link;
                transform: scale(1);
                text-decoration: underline;
            }
        }
    }
}

.introduction {
    
}

