---
layout: archive
---

{{ content }}

<div style="width: 100%; height: 80px;"></div>

<!-- utterances comment -->
<script src="https://utteranc.es/client.js"
        repo="hky035/hky035.github.io"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<!-- 최근 포스트 추가 add Related Post -->
<div id="related-section" style="margin-top: 50px;">
    <h1 style="border-bottom: 1px solid #ebebeb; padding: 5px 0">Related Posts</h1>

  <section class="taxonomy__section">
    <div class="entries-{{ entries_layout }}">
      {% for post in site.related_posts %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
</div>

<!-- back to top 기능 추가-->
<script>
  const backToTop = document.getElementsByClassName("back-to-top")[0];
  backToTop.onclick = function(e) {
      e.preventDefault();
      window.scrollTo({
        top: 0,
        behavior: 'smooth' // 부드러운 스크롤
      });
    };
</script>


