/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

.language-plaintext {
  background-color: rgba(0,0,0,0.05);
  padding: 1px 3px;
  border-radius: 3px;
  font-family: $code;
}

div.highlighter-rouge,
figure.highlight {
  position: relative;
  margin-bottom: 1em;
  // background: $base00;
  background: rgba(0,0,0,0.035); /* change code block background color*/
  color: $base05;
  font-family: $code;
  font-size: $type-size-6;
  line-height: 1.8;
  border-radius: $border-radius;

  [dir=rtl] & {
    direction: ltr;
    text-align: start;
  }

  > pre,
  pre.highlight {
    margin: 0;
    padding: 1em;
  }
}

.highlight table {
  margin-bottom: 0;
  font-size: 1em;
  border: 0;

  td {
    padding: 0;
    width: calc(100% - 1em);
    border: 0;

    /* line numbers*/
    &.gutter,
    &.rouge-gutter {
      padding-inline-end: 1em;
      width: 1em;
      color: $base04;
      border-inline-end: 1px solid $base04;
      text-align: end;
    }

    /* code */
    &.code,
    &.rouge-code {
      padding-inline-start: 1em;
    }
  }

  pre {
    margin: 0;
  }
}

.highlight pre {
  width: 100%;
}

.highlight .hll {
  background-color: $base06;
}
// .highlight {

//   .c {
//     /* Comment */
//     color: $base04;
//   }
//   .err {
//     /* Error */
//     color: $base08;
//   }
//   .k {
//     /* Keyword */
//     color: $base0e;
//   }
//   .l {
//     /* Literal */
//     color: $base09;
//   }
//   .n {
//     /* Name */
//     color: $base05;
//   }
//   .o {
//     /* Operator */
//     color: $base0c;
//   }
//   .p {
//     /* Punctuation */
//     color: $base05;
//     color: #383a42;
//   }
//   .cm {
//     /* Comment.Multiline */
//     color: $base04;
//   }
//   .cp {
//     /* Comment.Preproc */
//     color: $base04;
//   }
//   .c1 {
//     /* Comment.Single */
//     color: $base04;
//   }
//   .cs {
//     /* Comment.Special */
//     color: $base04;
//   }
//   .gd {
//     /* Generic.Deleted */
//     color: $base08;
//   }
//   .ge {
//     /* Generic.Emph */
//     font-style: italic;
//   }
//   .gh {
//     /* Generic.Heading */
//     color: $base05;
//     font-weight: bold;
//   }
//   .gi {
//     /* Generic.Inserted */
//     color: $base0b;
//   }
//   .gp {
//     /* Generic.Prompt */
//     color: $base04;
//     font-weight: bold;
//   }
//   .gs {
//     /* Generic.Strong */
//     font-weight: bold;
//   }
//   .gu {
//     /* Generic.Subheading */
//     color: $base0c;
//     font-weight: bold;
//   }
//   .kc {
//     /* Keyword.Constant */
//     color: $base0e;
//   }
//   .kd {
//     /* Keyword.Declaration */
//     color: $base0e;
//   }
//   .kn {
//     /* Keyword.Namespace */
//     color: $base0c;
//   }
//   .kp {
//     /* Keyword.Pseudo */
//     color: $base0e;
//   }
//   .kr {
//     /* Keyword.Reserved */
//     color: $base0e;
//   }
//   .kt {
//     /* Keyword.Type */
//     color: $base0a;
//   }
//   .ld {
//     /* Literal.Date */
//     color: $base0b;
//   }
//   .m {
//     /* Literal.Number */
//     color: $base09;
//   }
//   .s {
//     /* Literal.String */
//     color: $base0b;
//   }
//   .na {
//     /* Name.Attribute */
//     color: $base0d;
//   }
//   .nb {
//     /* Name.Builtin */
//     color: $base05;
//   }
//   .nc {
//     /* Name.Class */
//     color: $base0a;
//   }
//   .no {
//     /* Name.Constant */
//     color: $base08;
//   }
//   .nd {
//     /* Name.Decorator */
//     color: $base0c;
//   }
//   .ni {
//     /* Name.Entity */
//     color: $base05;
//   }
//   .ne {
//     /* Name.Exception */
//     color: $base08;
//   }
//   .nf {
//     /* Name.Function */
//     color: $base0d;
//   }
//   .nl {
//     /* Name.Label */
//     color: $base05;
//   }
//   .nn {
//     /* Name.Namespace */
//     color: $base0a;
//   }
//   .nx {
//     /* Name.Other */
//     color: $base0d;
//   }
//   .py {
//     /* Name.Property */
//     color: $base05;
//   }
//   .nt {
//     /* Name.Tag */
//     color: $base0c;
//   }
//   .nv {
//     /* Name.Variable */
//     color: $base08;
//   }
//   .ow {
//     /* Operator.Word */
//     color: $base0c;
//   }
//   .w {
//     /* Text.Whitespace */
//     color: $base05;
//   }
//   .mf {
//     /* Literal.Number.Float */
//     color: $base09;
//   }
//   .mh {
//     /* Literal.Number.Hex */
//     color: $base09;
//   }
//   .mi {
//     /* Literal.Number.Integer */
//     color: $base09;
//   }
//   .mo {
//     /* Literal.Number.Oct */
//     color: $base09;
//   }
//   .sb {
//     /* Literal.String.Backtick */
//     color: $base0b;
//   }
//   .sc {
//     /* Literal.String.Char */
//     color: $base05;
//   }
//   .sd {
//     /* Literal.String.Doc */
//     color: $base04;
//   }
//   .s2 {
//     /* Literal.String.Double */
//     color: $base0b;
//   }
//   .se {
//     /* Literal.String.Escape */
//     color: $base09;
//   }
//   .sh {
//     /* Literal.String.Heredoc */
//     color: $base0b;
//   }
//   .si {
//     /* Literal.String.Interpol */
//     color: $base09;
//   }
//   .sx {
//     /* Literal.String.Other */
//     color: $base0b;
//   }
//   .sr {
//     /* Literal.String.Regex */
//     color: $base0b;
//   }
//   .s1 {
//     /* Literal.String.Single */
//     color: $base0b;
//   }
//   .ss {
//     /* Literal.String.Symbol */
//     color: $base0b;
//   }
//   .bp {
//     /* Name.Builtin.Pseudo */
//     color: $base05;
//   }
//   .vc {
//     /* Name.Variable.Class */
//     color: $base08;
//   }
//   .vg {
//     /* Name.Variable.Global */
//     color: $base08;
//   }
//   .vi {
//     /* Name.Variable.Instance */
//     color: $base08;
//   }
//   .il {
//     /* Literal.Number.Integer.Long */
//     color: $base09;
//   }
// }

//

body .highlight,body pre.highlight {
  color: #383a42
}

body .highlight .ge {
  font-style: italic
}

body .highlight .gs {
  font-weight: 700
}

body .highlight .ow {
  font-weight: 700
}

body .highlight .n,body .highlight .nf,body .highlight .nn,body .highlight .o,body .highlight .p {
  color: #383a42
}

body .highlight .c,body .highlight .c1,body .highlight .cm,body .highlight .cp,body .highlight .cs {
  color: #a0a1a7;
  font-style: italic
}

body .highlight .sr,body .highlight .ss {
  color: #0184bc
}

body .highlight .k,body .highlight .kc,body .highlight .kd,body .highlight .kn,body .highlight .kp,body .highlight .kr,body .highlight .kt {
  color: #a626a4
}

body .highlight .l,body .highlight .ld,body .highlight .s,body .highlight .s1,body .highlight .s2,body .highlight .sb,body .highlight .sc,body .highlight .sd,body .highlight .se,body .highlight .sh,body .highlight .si,body .highlight .sx {
  color: #50a14f
}

body .highlight .nt,body .highlight .nx,body .highlight .vi {
  color: #e45649
}

body .highlight .il,body .highlight .m,body .highlight .mf,body .highlight .mh,body .highlight .mi,body .highlight .mo,body .highlight .na {
  color: #986801
}

body .highlight .bp,body .highlight .nb,body .highlight .nc,body .highlight .nd,body .highlight .ne,body .highlight .ni,body .highlight .nl,body .highlight .no,body .highlight .nv,body .highlight .py,body .highlight .vc,body .highlight .vg {
  color: #c18401
}

body .highlight .gd {
  color: #ff1414
}

body .highlight .gi {
  color: #2db448
}

body .highlight .w {
  color: #f8f8f2
}

body .highlight .cpf {
  color: navy
}

body .highlight .gu {
  color: #75715e
}

body .highlight .lineno {
  color: #9d9d9f;
  user-select: none
}

body .highlight .ln {
  color: #9d9d9f;
  user-select: none
}

body .highlight .ln:after {
  content: " "
}

body .highlight .hll {
  color: #383a42;
  background-color: #e5e5e6
}

body .highlight .hl {
  color: #383a42;
  background-color: #e5e5e6
}

body .highlight .language-json .w+.s2 {
  color: #e45649
}

body .highlight .language-json .kc {
  color: #0184bc
}

//


.gist {
  th, td {
    border-bottom: 0;
  }
}

/* custom style - code copy button */

// .copy-code-button {
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0.5em;
//   font-size: 1em; /* 아이콘 크기 조절 */
//   transition: color 0.3s ease, transform 0.3s ease; /* 색상과 크기 변화에 대한 트랜지션 추가 */
// }

// .copy-code-button i {
//   transition: transform 0.3s ease; /* 아이콘 크기 변화에 대한 트랜지션 추가 */
// }

// .copy-code-button:hover {
//   background: rgba(255, 255, 255, 0.1); /* 마우스 호버 시 배경색 추가 */
// }

// .copy-code-button .fa-check {
//   transform: scale(1.2); /* 체크 아이콘 크기 증가 */
// }

.copy-code-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  font-size: 1em; /* 아이콘 크기 조절 */
  transition: color 0.3s ease; /* 색상 변화에 대한 트랜지션 추가 */
  z-index: 1; /* 버튼이 다른 요소 위에 나타나도록 설정 */
}

.copy-code-button i {
  transition: transform 0.3s ease; /* 아이콘 크기 변화에 대한 트랜지션 추가 */
}

.copy-code-button:hover {
  background: rgba(0, 0, 0, 0.1); /* 마우스 호버 시 배경색 추가 */
}

.copy-code-button .fa-check {
  transform: scale(1.2); /* 체크 아이콘 크기 증가 */
}

/* 애니메이션 클래스 */
.animate {
  animation: drop 0.3s forwards; /* 애니메이션 효과 적용 */
}

@keyframes drop {
  0% {
      transform: translateY(-10px); /* 위로 이동 */
      opacity: 0; /* 투명도 0 */
  }
  100% {
      transform: translateY(0); /* 원래 위치로 */
      opacity: 1; /* 완전히 나타남 */
  }
}